<header>
  <div class="row fundo m-0">

    <div class="col-2 logo">
      <h3>AdasStore</h3>
    </div>

    <div class="col-10 p-2 usuario-informacoes">

      <div>
        <p class="m-0">Guilherme</p>
      </div>

      <div class="imagem">
        <img src="../assets/img/usuario-img.jpg">
      </div>

      <div>
        <i class="bi bi-three-dots-vertical"></i>
      </div>

    </div>

  </div>
</header>

<main>
  <div class="row">

    <div class="col-2 menu borda">

      <div>Cadastros</div>
      <div class="item">
        Categorias
      </div>
      <div class="item">
        Produto
      </div>
      <div class="item">
        Cliente
      </div>

      <div>Caixa</div>

      <div>Pedido</div>

    </div>

    <div class="col-10 borda">

    </div>

  </div>
</main>